name: Keep Streamlit App Awake
on:
  schedule:
    - cron: '0 */6 * * *' # Runs every 6 hours
jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Streamlit App
        run: curl -I https://covid-19-forecast.streamlit.app/
